	<nav class="navbar-default navbar-fixed-bottom text-center">
				All images and contents &copy; tarena
	</nav>
</body>
</html>
	<script src="__STATIC__/js/Jquery.js"></script>
    <script type="text/javascript" src = "__STATIC__/js/bootstrap.min.js"></script>
	<script>
        var pathname = window.location.pathname + window.location.search;
        $(".nav-tabs li a").each(function() {
            var href = $(this).attr("href");
            if(pathname ==  href){
                $(this).parent("li").addClass("active");
            }
        });
	</script>